.pull-left{
float: left !important;
}

.header{
  display: flex;
}

#activeBretagne{
  margin-left: 5%;
  font-family: 'Archivo Black', sans-serif;
  font-size: 3em;
}

label{
  color: white;
}
#formConnection{
  background-color: #5BD6A3;
  position:relative;
}
fieldset{
  width: 35%;
  margin-left: 25%;
}
.ligneUser, .lignePassword {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
}
.ligneBoutons{
  display: flex;
  justify-content: space-around;
  padding-top: 10%;
}
label{
  font-size: 1.5em;
}
h2 {
  color: white;
  margin-left: 25%;
  font-size: 20em%;
}
 #email, #pssw{
  height: 30px;
  border-radius: 5px;
  background-color: #BCD6C4;
  opacity: 0.9;
}
p{
  margin-top: 3%;
  display: flex;
  justify-content: center;
}
#pourVousConnect{
  padding-top : 3%;
  padding-bottom: 2%;
}
.nav{
  margin-top: 8%;
}
.bonjourclient{
  position: fixed;
  top: 3px;
  right: 8%;
}
#showFormClient{
  font-size: 0.6em;
}
.modal-content>label{

}
